.team-body{
    width: 100%;
    height: 80vh;
}

.team-body h2{
    text-align: center;
    font-size: 3vw;
    color: var(--color-dark-green);
}

.team-grid-one {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin-left: 20%;
    margin-right: 20%;
}

.team-grid-two {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.team-child{
    width: 23vw;
    height: 27vw;
    background-color: var(--color-yellow);
    color: var(--color-blue);
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border-radius: 20px;
    display: block;
    text-align: center;
    justify-content: center;
    margin-bottom: 15%;
}

.team-child img{
    margin-top: 7%;
    width: 13vw;
    height: 13vw;
    border-radius: 100px;
}

.team-child h2{
    margin-top: 2.5%;
    font-size: 2vw;
}

.team-child h3{
    margin-top: -3%;
    font-size: 1.3vw;
}

.links a{
    font-size: 2.3vw;
    padding-left: 3%;
    padding-right: 3%;
}

#ruth {
    background-color: var(--color-yellow);
    color: var(--color-blue);
}

#ruth a:hover{
    color: var(--color-dark-green);
}

#victor {
    background-color: var(--color-red);
    color: var(--color-yellow);
}

#victor a:hover{
    color: var(--color-dark-green);
}

#julio {
    background-color: var(--color-dark-green);
    color: var(--color-light-green);
}

#julio a:hover{
    color: var(--color-yellow);
}

#leticia {
    background-color: var(--color-orange);
    color: var(--color-blue);
}

#leticia a:hover{
    color: var(--color-dark-green);
}

#mack {
    background-color: var(--color-blue);
    color: var(--color-yellow);
}

#mack a:hover{
    color: var(--color-dark-green);
}

@media screen and (max-width: 600px){

    .team-body h2{
        font-size: 7vw;
    }

    .team-grid-one {
        grid-template-columns: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .team-grid-two {
        grid-template-columns: auto;
    }

    .team-child{
        width: 70vw;
        height: 75vw;
        margin-bottom: 10%;
    }

    .team-child img{
        margin-top: 5%;
        width: 35vw;
        height: 35vw;
    }
    
    .team-child h2{
        margin-top: 2.5%;
        font-size: 7vw;
    }
    
    .team-child h3{
        margin-top: -5%;
        font-size: 4vw;
    }
    
    .links a{
        font-size: 7vw;
        padding-left: 3%;
        padding-right: 3%;
    }

} 
